@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #cbccd2;
  --foreground: rgba(21,27,23,255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #cbccd2;
    --foreground: black;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
